.comousar{
    padding: 20px;
    margin: 0 auto;
    display: grid;
    max-width: 1000px;
    grid-gap: 20px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


section h2{
    margin: 25px;
    text-align: center;
    border-top: 10px solid  rgba(255, 221, 0);
}

.comousar ul li{
    list-style-type: none;
    font-size: large;
}


button{
    flex: 1 1 200px;
    cursor: pointer;
    padding: 15px 10px;
    width: 320px;
    border: 2px solid #882AA5;
    background-color: #882AA5 ;
    font-size: medium;
    box-shadow: 5px 4px  #FFDD00;
    margin: 10px;
    text-decoration: white;
  }