<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>íris</title>
    <link rel="icon" href="img2/pin_ roxo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Sobre.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="Aplicativo.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <a class="navbar-brand" href="/jogo"> <img src="img2/iris_roxo.png" alt="logo"> </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/jogo">Inicio</a>
                                </li>
                                <li class="nav-item dropdown">
                                <li class="nav-item">
                                    <a class="nav-link" href="/sobre">Sobre</a>
                                </li>

                                </li>
                                <li class="nav-item dropdown">
                                <li class="nav-item">
                                    <a class="nav-link" href="/como-usar">Como usar</a>
                                </li>

                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a href=""><i class="ti-heart"></i></a>
                            <div class="dropdown cart">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </a>
                                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">
    
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <br><br><br><br><br><br><br>
    <!-- Header part end-->




    <div class="comousar">

        <section class="faq">
            <h2>Publicando uma avaliação</h2>
            <div class="accordion">
                <div class="accordion-item">
                    <div class="item-header">
                        <h1 class="title">Preciso fazer um cadastro para fazer uma
                            avaliação?</h1>
                            <span class="icon" style="background-color:green
                            ;">x</span>
                    </div>
                    <div class="accordion-ite">
                      
                        <p class="text">
                            <div class="item-header">
                                <h1 class="title"></h1>
                                <span class="icon" style="background-color: red;">-</span>
                            </div>
                            
                        </p>
                    </div>
                    <p class="text" style="background-color: #882AA5; border-radius: 1,5%; color: aliceblue;">
                        Sim, para fazer avaliações deverá efetuar o cadastro em nosso Web site, pois sem ele sua
                        reclamação não será computada em nosso sistema.Por favor realizer o cadastro <a href="">aqui</a>
                    </p>
                </div>

                <div class="accordion-item">
                    <div class="item-header">
                        <h1 class="title">Quem pode fazer avaliações?</h1>
                        <span class="icon" style="background-color:green
                        ;">x</span>
                    </div>
                    <div class="accordion-ite">
                      
                        <p class="text">
                            <div class="item-header">
                                <h1 class="title"></h1>
                                <span class="icon" style="background-color: red;">-</span>
                            </div>
                            
                        </p>
                    </div>
                    <p class="text" style="background-color: #882AA5; border-radius: 1,5%; color: aliceblue;">
                        Recomendamos que o avaliador possua uma relação de consumo ou comercial com o estabelecimento
                        avaliado, além disso, é necessário ser maior de 18 anos e com cadastro validado em nosso site
                    </p>
                </div>

                <div class="accordion-item">
                    <div class="item-header">
                        <h1 class="title">Como fazer a avaliação?</h1>
                         <span class="icon" style="background-color:green
                        ;">x</span>
                    </div>
                    <div class="accordion-ite">
                      
                        <p class="text">
                            <div class="item-header">
                                <h1 class="title"></h1>
                                <span class="icon" style="background-color: red;">-</span>
                            </div>
                            
                        </p>
                    </div>
                    <p class="text" style="background-color: #882AA5; border-radius: 1,5%; color: aliceblue;">
                        Sua avaliação deve ser sobre sua experiência em um estabelecimento. Precisamos que ela seja
                        objetiva, clara e detalhista, pois ela será importante para outros consumidores e para o
                        estabelecimento avaliado. Por favor, não coloque dados pessoais sensíveis (nome completo de
                        pessoas envolvidas,CPF, telefone e dados bancários).
                    </p>
                </div>

                <div class="accordion-item">
                    <div class="item-header">
                        <h1 class="title">O que devo avaliar?</h1>
                        <span class="icon" style="background-color:green
                        ;">x</span>
                    </div>

                    <div class="accordion-ite">
                      
                        <p class="text">
                            <div class="item-header">
                                <h1 class="title"></h1>
                                <span class="icon" style="background-color: red;">-</span>
                            </div>
                            
                        </p>
                    </div>
                    <p class="text" style="background-color: #882AA5; border-radius: 1,5%; color: aliceblue;">
                        Ao fazer sua avaliação leve em consideração questões sensíveis ao público LGBTQIA+ como sua
                        segurança, permanência, prática ou indução ao preconceito pela comunicação ou ações violentas,
                        constragedoras e intimidadoras.
                    </p>
                </div>

                <div class="accordion-item">
                    <div class="item-header">
                        <h1 class="title" >  Por que avaliar?</h1>
                        <div class="icon" style="background-color:green
                        ;">x</div>
                        
                    </div>
                     <div class="accordion-ite">
                      
                        <p class="text">
                            <div class="item-header">
                                <h1 class="title"></h1>
                                <span class="icon" style="background-color: red;">-</span>
                            </div>
                            
                        </p>
                    </div>
                    <p class="text"                                 style="background-color: #882AA5; border-radius: 1,5%; color: aliceblue;">
                        Queremos colaborar na relação entre o público LGBTQIA+ e os estabelecimentos. Sua avaliação é
                        parte iportante desse processo pois é por meio dela que outros usuários podem conhecer e
                        entender a conduta de cada estabelecimento por em relação as minorias. É também por meio da sua
                        avaliação que os estabelecimentos podem encontrar pontos de melhorias em suas condutas e
                        atendimentos.
                    </p>
                </div>

                <div class="accordion-item">
                    <div class="item-header">
                        <h1 class="title">Como funciona o ranking dos estabelecimentos?</h1>
                        <span class="icon" style="background-color:green
                        ;">x</span>
                    </div>
                    <div class="accordion-ite">
                      
                        <p class="text">
                            <div class="item-header">
                                <h1 class="title"></h1>
                                <span class="icon" style="background-color: red;">-</span>
                            </div>
                            
                        </p>
                    </div>
                    <p class="text" style="background-color: #882AA5; border-radius: 1,5%; color: aliceblue;">
                        Os estabelecimentos são rankeados considerando a quantidade de avaliações totais e a porcentagem
                        de avaliações positivas.
                    </p>
                </div>


            </div>


        </section>


        <section>

            <h2>O que deve ser denunciado? </h2>

            <ul>
                <li>A pratica de qualquer tipo de ação violenta, constrangedora e/ou intimidatória; </li>
                <li> A proibição da permanência em qualquer ambiente, público ou privado; </li>
                <li>A pratica de atendimento diferenciado; </li>
                <li>O veto a hospedagem em hotéis, motéis, pensões ou similares; </li>
                <li>A inviabilização de locação e compra, de bens móveis ou imóveis;</li>
                <li>A demissão direta ou indiretamente em função da orientação sexual do empregado;</li>
                <li> A restrição do acesso ao transportes públicos, incluindo táxis;</li>
                <li>A negação de ingresso de aluno em estabelecimento público ou privado;</li>
                <li>A pratica ou indução ao preconceito pelos meios de comunicação;</li>
            </ul>
        </section>



        <section>
            <h2> Dicas úteis para fazer a denúncia:</h2>
            <ul>
                <li>É recomendado fazer o Boletim de Ocorrência;</li>
                <li>Em caso de agressões físicas, a vítima não deve lavar-se nem trocar de roupa para preservar as
                    provas no Exame de Corpo de Delito. O exame é indispensável nestes casos e é um direito seu que ele
                    seja realizado.</li>
                <li>Deve-se deixar o local da violência de modo que o local e objetos estejam da forma em que foram
                    encontrados.</li>
                <li>Converse com as pessoas que testemunharam o caso de violência. Peça o telefone ou, caso haja,
                    oriente um amigo a pegar o contato das pessoas que estavam no local da violência. Elas podem ser
                    importantes testemunhas jurídicas.</li>
            </ul>


        </section>

        <button><a href="https://dedic.pcivil.rj.gov.br/Questionario.aspx">Denuncie</a> </button>


    </div>


    <!-- banner part start-->

    <!--::footer_part end::-->

    <footer>
        <img class="logorodape" src="img2/iris_roxo.png" alt=""></img>

        <div class="mapadosite">
            <h4> Mapa do Site </h4>
            <a href="/sobre">
                <p>Sobre</p>
            </a>
            <a href="/manifesto">
                <p>Manifesto LGBT+</p>
            </a>
            <a href="/login">
                <p>Faça parte</p>
            </a>
            <a href="/aplicativo">
                <p>Como Funciona</p>
            </a>
        </div>

        <div class="social">

            <img class="social-item" src="img2/facebook.png" alt=""></img>
            <a href="http://instagram.com/oappiris"> <img class="social-item" src="img2/instagram.png" alt=""></img>
            </a>
            <a href="mailto:irisapp.contato@gmail.com"><img class="social-item" src="img2/email_roxo.png" alt=""></img>
            </a>
        </div>
    </footer>


    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>


    <script type="text/javascript">
        $(".item-header").click(function () {
            $(".accordion-item").removeClass("active");

           
            $(this).parent().addClass("active");

            
            
            

        });


    </script>
    
</body>

</html>